.idea
.coverage
MANIFEST
coverage.xml
nosetests.xml
pylint.txt
toy.py
tox.ini
violations.pyflakes.txt
cover/
build/
docs/_build
*.pyc
*.swp
*.egg
env/
dist
venv
cdf2cim.egg-info
*-checkpoint.ipynb
cdf2cim/TODO.txt
tmp.ipynb
tmp
test-output